# Roblox Sync Gallery - Daemon Configuration
API_URL=http://localhost:4000
DAEMON_SECRET=roblox-sync-gallery-secret-token
# Put your Roblox User ID below to enable auto game presence detection:
ROBLOX_USER_ID=
HOTKEY=<alt>+1
IMAGE_FORMAT=PNG
JPEG_QUALITY=95
